<h1>You have attacked <%= @player_2.name %></h1>
<h1> <%= @player_2.name %>'s HP is now <%= @player_2.hit_points %></h1>

<form action="index.html" method="post">
  <input type="submit" value="Proceed to next turn">
</form>
